// #region setup snippet
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
// #endregion setup snippet

// #region Variables
// Color Variables
$primary: #C0C8F0;
$secondary: #97dae8;
$tertiary:#dbf0ef;
$fontColor:black;

// Font Variables
$font: 'Maitree', serif;
$headings: 600;
$bodyFont: normal;
// #endregion Variables

  //#region BASE STYLES
.wrapper{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

body{
  background-color: $tertiary;
  font-family:$font;
  font-weight: $bodyFont;
}

h1, h2, h3{
  font-weight: $headings;
}

img{
  display: block;
  width: 100%;
}

li{
  list-style-type: none;
}

ul,
li,
a,
img, 
p,
h1,
h2,
h3{
  margin: 0;
  padding: 0;
}
<<<<<<< HEAD

input {
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
}
=======
>>>>>>> 60440b669de7b750f74c071c062f08bb95e354c0
    //#endregion BASE STYLES END



//#region TYPOGRAPHY STYLES
//#endregion TYPOGRAPHY STYLES

//#region HEADER STYLES
<<<<<<< HEAD
header {
  margin-top: 5%;
  line-height: 1.8;
}
//#endregion HEADER STYLES

//#region INPUT STYLES
.login {
  text-align: center;
  .register {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}
=======
//#endregion HEADER STYLES

//#region INPUT STYLES
>>>>>>> 60440b669de7b750f74c071c062f08bb95e354c0
//#endregion INPUT STYLES

//#region SEARCH RESULTS SECTION STYLES
.container{
  border: 1px solid black;
  height:200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-top: 50px;
}

.box2,
.box3,
.box4,
.box5{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box1{
  display: flex;
  width: 50%;
  padding: 5px;
}

.box2{
  width: 60%;
  height: 100%;
  margin-right:10px;
  img{
    height: 80%;
    object-fit: contain;
    margin-bottom: 10px;
  }
}

.box3{
  width: 40%;
  .venueCity{
    margin-top: 25px;
  }
  h3{
    margin-bottom: 5px;
  }
}

.box4{
  width: 20%;
  h3{
    margin-bottom: 25px;
  }
}

<<<<<<< HEAD
.moreInfoDiv {
  border: 2px solid black;
}

.hideInfoDiv {
  display: none;
}

=======
>>>>>>> 60440b669de7b750f74c071c062f08bb95e354c0
// .box5{
//   border: 1px solid black;
// }

//#region MORE INFO STYLES
  // .subMenu{
  //   border: 1px solid purple;
  // }
//#endregion MORE INFO STYLES



//#endregion SEARCH RESULTS SECTION STYLES